<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <mat-toolbar>
      <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
    <span style="color:azure;">สำนักบริการคอมพิวเตอร์</span>

  </mat-toolbar>

<div class="row">
  <div class="col-7"> <img src="../assets/images/KPlan.gif" width="900px" height="900px">
  </div><br><br>
  
  <div class="col-5 ">
    <mat-tab-group>
      <mat-tab label="จองใช้เครื่อง">
        <p style="text-align: center;"> เลือกวันเวลาที่ต้องการ </p>
        <mat-radio-group class="md-primary" style="margin-left: 180px;">
          <mat-radio-button value="1"checked>&nbsp;1 period</mat-radio-button>
          <mat-radio-button value="2">&nbsp;2 period</mat-radio-button>
          <mat-radio-button value="3">&nbsp;3 period</mat-radio-button>
        </mat-radio-group>

        <div class="form-group col-3" style="text-align: center;">
          <mat-form-field style="width: 250px;margin-left: 195px;">
              <input matInput [matDatepicker]="picker1" placeholder="เลือกวันที่" [formControl]="date" >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="width: 250px;margin-left: 195px;">
              <mat-select [(value)]="selected">
               
                <mat-option value="08.30">08.30</mat-option>
                <mat-option value="09.30">09.30</mat-option>
                <mat-option value="10.30">10.30</mat-option>
              </mat-select>
            </mat-form-field>
            
     <br>
          <button type="submit" class="btn" style="width: 250px; margin-left: 195px;" (click)="Reserving()">จอง</button>
        </div>

      </mat-tab>
      <mat-tab label="จัดการจอง">

        <div class="row" style="padding-left: 4em">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
          &nbsp;&nbsp;
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
          <button mat-button>Search</button>
        </div>
        <br>
        <!-- <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col" style="text-align: center;">ลำดับ</th>
              <th scope="col" style="text-align: center;">วันที่</th>
              <th scope="col" style="text-align: center;">เวลา</th>
              <th scope="col" style="text-align: center;">หมายเลขเครื่อง</th>
              <th scope="col" style="text-align: center;">แก้ไข/ยกเลิก</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" style="text-align: center;">1</th>
              <td style="text-align: center;">16/2/2562</td>
              <td style="text-align: center;">13.30 - 15.30</td>
              <td style="text-align: center;">A1</td>
              <td>
                <button class="btn">แก้ไข</button>&nbsp;
                <button class="btn">ยกเลิก</button>
              </td>
            </tr>
            <tr>
              <th scope="row" style="text-align: center;">2</th>
              <td style="text-align: center;">18/2/2562</td>
              <td style="text-align: center;">09.30 - 11.30</td>
              <td style="text-align: center;">G1</td>
              <td>
                <button class="btn">แก้ไข</button>&nbsp;
                <button class="btn">ยกเลิก</button>
              </td>
            </tr>
            <tr>
              <th scope="row" style="text-align: center;">3</th>
              <td style="text-align: center;">23/2/2562</td>
              <td style="text-align: center;">15.30 - 16.30</td>
              <td style="text-align: center;">D1</td>
              <td>
                <button class="btn">แก้ไข</button>&nbsp;
                <button class="btn">ยกเลิก</button>
              </td>
            </tr>
          </tbody>
        </table> -->
        <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>