/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
body {
  
    text-align: left;
  }
   
  .bg-b {background-color: #5bb75b;}
.bg-primary {background-color: #1c84c6 !important;}
.bg-danger {background-color: #E43927 !important;}
.textbtn{

  text-align: center;

}
.tab-content{
  padding:20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  text-align: center;  
  
}

.mat-toolbar{
  background: #5bb75b;
}

.mat-tab-group .mat-tab-label{
  background: #5bb75b;
  color:#5bb75b;
}


.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
